.fullheader {
    background: #ffffff;
    width: 100%;
    height: 85px;
    border-bottom: solid 2px #cccccc;
}

.top-section {
    width: 960px;
    margin: 0 auto;
    height: 100px;
}

h1 {
    width: 270px;
    background: #4aaaa5;
    color: #ffffff;
    float: left;
    height: 50px;
    padding: 5px 0px 0px 0px;
    margin-bottom: 10px;
}    

.linkinginfo {
    float: right;
}

h3, a, form {
    color: darkgray;
}

h2 {
    color: #4aaaa5;
    padding: 10px 0px 20px 5px;
    border-bottom: solid 2px #cccccc;
}

.about-me, .contact-info, .portfolio {
    width: 960px;
    height: 500px;
    background: #ffffff;
    color: #dddddd;
    margin: 0 auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 20px;
    margin-top: 25px;
}

body {
    background-image: url("../images/white-waves.png");
}

h1, h2, h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

p {
    color: darkgray;
    float: left;
}    

.footer {
    background: #666666;
    height: 70px;
    border-top: 8px solid #4aaaa5;
    position: relative;
    margin: 0px -10px -50px -10px;
} 

form {
    padding-left: 10px;
}
